# Ignore everything by default
*

# But don't ignore folders (needed so we can unignore files inside)
!*/

# Always keep these
!/.gitignore
!/README.md


# Keep ONLY your scratch files (anywhere)
!**/scratch_*

# Keep folder placeholders so directories appear on GitHub
!**/.gitkeep